@import "kmodern/kmodern";
body {
  background-color: $grey1;
}
h1{
  color:$red3;
  font-family: Roboto-Thin!important;
}
header{
  color:$white2;
  padding:10px;
  background-color: $red3;
  h1{
    a{
      color:$white1;
      &:hover{
        color:$white1;
        text-decoration: underline;
      }
    }
  }
  article,h1{
    display: inline-table;
  }
  .search-section{
    width:30%;
    input{
      display: inline-table;
    }
  }
  .user-section{
    width:46%;
    font-size: 1.2em;
    ul{
      li{
        display: inline-table;
        position: relative;
        a{
          color:$black-4;
          &:hover{
            color:$black-3;
          }
        }
        ul {
          color: $black-2;
          position: absolute;
          top: 20px;
          border: 1px solid $grey2;
          box-shadow: $normal-box-shadow;
          background-color: $white1;
          left: 0;
          display: none;
          li {
            display: list-item;
            padding: 10px;
            width: 250px;
            a{
              color:$black-2;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
        &:hover > ul{
          display:block;
        }
      }
    }
  }
}

.wrapper{
  margin-left:8%;
  margin-right:8%;
  box-shadow:$normal-box-shadow;
  background-color: #FFF;
}

.main{
  article{
    display: inline-table;
    width:100%;
  }
}

.banners{
  width:100%;
  article{
    overflow-x:scroll;
    overflow-y: hidden;
    white-space: nowrap;
    img{
      height:248px;
      display:inline-block;
      overflow:hidden;
    }
  }
}

main{
  padding:15px;
}

.list{
  li{
    max-width:20%;
    margin:5px;
    display:inline-table;
    border:3px solid $blue-grey4;
    border-radius:8px;
    img{
      width:200px;
      height: 120px;
    }
  }
}


footer{
  padding:15px;
  background-color: $white1;
  border-radius:4px;
  margin-top:30px;
  margin-bottom:50px;
  margin-left:25%;
  margin-right:25%;
  article{
    display:inline-table;
    width:32%;
    a{
      color:$black-1;
    }
  }
  .copyright{
    margin:20px;
    text-align: center;
    font-size:0.9em;
    color:$grey3;
  }
}

.register-list{
  li {
    background-color: $grey1;
    border-radius:8px;
    padding:8px;
    margin-right:1%;
    display: inline-table;
    width: 30%;
    ul{
      padding:5px;
      margin-left:5%;
      li{
        display:list-item;
        width:auto;
        list-style: square;
      }
    }
  }
}


.error {
  color: red;
  font-weight: bolder;
}

.message {
  color: red;
  font-weight: bolder;
}

table{
  border-collapse:collapse;
  width:80%;
  margin:0 auto;
  border:1px solid $black-3;
  thead{
    tr{
      text-align: left;
      th{
        padding:13px;
        background-color: $blue-grey2;
        color:$white1;
        font-size:1.2em;
        a{
          text-decoration: underline;
          color:$white1;
        }
      }
    }
  }
  tbody{
    tr{
      td{
        padding:8px;
        background-color: $white1;
      }
      &:nth-child(odd){
        td{
          background-color: $blue-grey5;
        }
      }
    }
  }
}

.pagebanner{
  display:block;
  margin:8px;
  padding:5px;
  background-color: $grey1;
  font-size: 1.2em;
  width:50%;
  border-radius: 5px;
}

.pagelinks{
  display:block;
  margin-top:10px;
  padding:5px;
}

.step{
  padding:10px;
  margin-left:30px;
  img{
    margin:10px;
  }
}

.ingredients{
  li{
    margin:10px;
    list-style: circle;
    font-size:1.4em;
  }
}

.recipe-info{
  background-color: $grey1;
  padding:10px;

}

.navbar{
  ul{
    border-radius:6px;
    li{
      a{
      padding:8px;
      background-color: $blue-grey5;
      border-bottom: 1px solid $grey2;
        display: list-item;
      }
    }
  }
}

.folder-list{
  ul{
    li{
      a{
        padding: 15px;
        display: list-item;
        background-color: $blue-grey4;
        color:$black-3;
        font-size:1.3em;
        transition: all 0.1s ease-out;
        &:hover{
          background-color: $red3;
          color:$white1;
        }
      }
    }
  }
}

.message-list{
  margin-left:10px;
}
.message-list-options{
    margin:10px;
    li{
      a{
        padding:8px;
        border-radius: 6px;
        color:$black-2;
        background-color: $blue-grey5;
        margin-left:4px;
        &:hover{
          color:$black-1;
          background-color: $blue-grey3;
        }
      }
    }
}