/.idea
Acme-Pad-Thai.iml
target/generated-sources/
target/generated-test-sources/
target/test-classes/utilities/Statistics.class
target/classes/domain/Category.class
target/classes/repositories/BillRepository.class
target/classes/repositories/CampaignRepository.class
target/classes/repositories/SponsorRepository.class
target/classes/repositories/UserRepository.class
target/classes/services/CategoryService.class
target/classes/services/CommentService.class
target/classes/services/ContestService.class
target/classes/services/MessageService.class
target/classes/services/RecipeService.class
target/test-classes/services/BillServiceTest.class
target/test-classes/services/CampaignServiceTest.class
target/test-classes/services/CreditCardServiceTest.class
target/test-classes/services/FolderServiceTest.class
target/test-classes/services/MessageServiceTest.class
target/test-classes/services/SponsorServiceTest.class
