
//Fonts



@import "colors";
@import "fonts";
@import "cols";
@import "header";
@import "lists";
@import "links";
@import "buttons";
@import "tables";
@import "pagination";
@import "navs";
@import "cards";
@import "util";
@import "dropdown";
@import "dialog";
@import "forms";
@import "badge";

$base-font-size: 0.85em;
$font-family:Roboto-Regular;
$margin:0;
$padding:0;

body{
  font-size: $base-font-size;
  font-family: $font-family;
  text-rendering:optimizeLegibility;
  margin: $margin;
  color:$black-1;
  padding: $padding;
  -webkit-font-smoothing: antialiased;
}