@font-face {
  font-family: Roboto-Regular;
  src: url(kmodern/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(kmodern/fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(kmodern/fonts/Roboto-Medium.ttf);
}


@font-face {
  font-family: Roboto-Light;
  src: url(kmodern/fonts/Roboto-Light.ttf);
}

.small{
  font-size:10pt;
}