@import "colors";

  label{
    display:block;
    font-size:1.5em;
    color:$red2;
    padding-bottom:10px;
    margin:5px;
    cursor: pointer;
  }
input{
  .large{
    width:80%!important;
  }
    margin:5px;
    display:block;
    padding:10px;
    color:$blue-grey2;
    background-color: $white1;
    border:2px solid $blue-grey3;
    font-size:1.3em;
    outline: 0;
    &[type=submit]{
      @extend .button!optional;
      cursor:pointer;
    }
    &[type=text],[type=search],[type=url],[type=email],[type=select],textarea{
      &:focus{
        outline: none;
        border-color: $blue-grey2;
        background-color: $grey1;
      }
    }
    }
  textarea{
    font-family: Roboto-Light;
    display: block;
    min-height:150px;
    padding:10px;
    font-size:1.2em;
  }

.form-group-1{
  padding:10px;
  display:block;
  width:100%;
}

.form-group-2{
  padding:10px;
  display:inline-table;
  width:48%;
}


textarea{
  min-height:300px;
  outline: none;
  border:2px solid $blue-grey3;
  font-size:1.1em;
  &:focus{
    outline: none;
    border-color: $blue-grey2;
    background-color: $grey1;
  }
}
